RewriteBase /
RewriteEngine On

AddDefaultCharset utf-8
AddCharset UTF-8 .css .js .webmanifest
FileETag MTime Size
ServerSignature Off
SetEnvIf Host ^ suppress-error-charset

AddType image/x-icon .ico
AddType application/manifest+json .webmanifest

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]
RewriteCond %{ENV:HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTP_HOST} ^flame.ga$
RewriteRule ^ https://kaboom.pw/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.flame.ga$
RewriteRule ^ https://kaboom.pw/$1 [R=301,L]

ErrorDocument 404 https://kaboom.pw/
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . - [R=404]

<FilesMatch ".(htm|html)$">
Header set Content-Security-Policy "default-src 'none'; font-src data:; form-action 'self'; img-src 'self'; manifest-src 'self'; style-src 'self'; upgrade-insecure-requests"
Header set X-Frame-Options "DENY"
Header set X-Xss-Protection "1; mode=block"
</FilesMatch>

Header set Referrer-Policy "no-referrer"
Header set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
Header set Vary "Accept-Encoding"
Header set X-Content-Type-Options "nosniff"
Header unset Accept-Ranges
Header unset Last-Modified

RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}.br -f
RewriteRule ^(.*)$ $1.br [L]

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [L]

AddEncoding br .br
AddEncoding gzip .gz

<FilesMatch (.css.br|.css.gz)>
ForceType "text/css; charset=utf-8"
</FilesMatch>

<FilesMatch (.ico.br|.ico.gz)>
ForceType image/x-icon
</FilesMatch>

<FilesMatch (.html.br|.html.gz)>
ForceType "text/html; charset=utf-8"
</FilesMatch>

<FilesMatch (.js.br|.js.gz)>
ForceType "text/javascript; charset=utf-8"
</FilesMatch>

<FilesMatch (.png.br|.png.gz)>
ForceType "image/png; charset=utf-8"
</FilesMatch>

<FilesMatch (.svg.br|.svg.gz)>
ForceType "image/svg+xml; charset=utf-8"
</FilesMatch>

<FilesMatch (.txt.br|.txt.gz)>
ForceType "text/plain; charset=utf-8"
</FilesMatch>

<FilesMatch (.webmanifest.br|.webmanifest.gz)>
ForceType "application/manifest+json; charset=utf-8"
</FilesMatch>

<FilesMatch (.xml.br|.xml.gz)>
ForceType "text/xml; charset=utf-8"
</FilesMatch>
