---
---
{% capture content %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ site.url }}/">
	<style type="text/css">
		{% capture style %}
		{% include fonts.css %}
		{% include index.css %}
		{% endcapture %}
		{{ style | scssify }}
	</style>
</head>
<body>
	<div id="navigation">
		<span><a href="#home" title="Home" class="logo"></a></span>
		<span><a href="#play" title="Play" class="play"></a></span>
		<span><a href="#downloads" title="Downloads" class="downloads"></a></span>
	</div>
	<div id="home" class="main">
		<div class="main-container">
			<h1>Welcome to Kaboom.pw!</h1>
			<p>Kaboom.pw is a Minecraft server where you can do anything you want, whether it be building or testing commands. Enjoy access to many operator commands and server tools, such as WorldEdit and CommandSpy.</p>
			<a href="#play" class="button">Play</a>
		</div>
	</div>
	<div id="play" class="main">
		<div class="main-container">
			<h2>Play</h2>
			<p>If you want to play on Kaboom.pw, simply add the IP "kaboom.pw" to your server list in Minecraft.</p>
		</div>
	</div>
	<div id="downloads" class="main">
		<div class="main-container">
			<h2>Downloads</h2>
			<p>We provide downloads for worlds and schematics on the server, to make it easy for you to export your creations. The downloads update every 15 minutes.</p>
			<a href="https://github.com/kaboompw/downloads/archive/schematics.zip" class="button">Schematics</a>
			<a href="https://github.com/kaboompw/downloads/archive/worlds.zip" class="button">Worlds</a>
		</div>
	</div>
</body>
</html>{% endcapture %}{{ content | strip_newlines | replace:'	','' }}
