---
---
{% capture content %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ site.url }}/">
	<link rel="alternate" type="application/atom+xml" href="/feed.xml">
	<style type="text/css">
		{% capture css %}{% include fonts.css %}{% include sent.css %}{% endcapture %}{{ css | scssify }}
	</style>
</head>
<body>
	<div id="feedback">
		<div id="feedbackcontainer">
			<h2>Feedback</h2>
			<p>
				Your feedback has been sent. Thank you!
			</p>
			<a href="/">Return to Flame.ga</a>
		</div>
	</div>
</body>
</html>{% endcapture %}{{ content | strip_newlines | replace:'	','' }}
